html {
  box-sizing: border-box;
  background-image: url("https://wallpapercave.com/wp/wp7139831.jpg");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header {
    font-size: 1.5em;
    color: rgb(95, 248, 6);
    margin: 10px;
    padding: 5px;
}

.container {
    margin: 10px;
    padding: 5px;
}

.story-link {
    color: rgb(9, 243, 243);
    font-size: 1.5em;
    text-decoration: none;
    
}



